<!DOCTYPE html>
<html>
<head>
    {% include 'layout/header.html' %}
</head>
<body>
    {% include 'layout/navbar.html' %}
    {% include 'layout/sidebar.html' %}


<div class="container" style="padding-top: 3%;">
    <div class="row">
      <div class="col-12">
        <form method="POST" enctype="multipart/form-data" action="/data_transaksi_after">
          <div class="row">
          <div class="col">
            <input class="form-control"type="file" id="myFile" name="uploaded-file"> 
          </div>
          <div class="col">
      
            <input class="btn btn-primary" type = "submit" value="upload"/>
            <a type="button" class="btn btn-primary" href="/data_transaksi"> <i class="bi bi-trash"></i></a>
            
          </div>
        </div>
            <div class="row">
              <div class="col"> <p>{{dt}}</p></div>
        
          </div>
        
            
        </form>
      </div>
      
      </div>
    </div>
    
    

</body>
</html>
