<!DOCTYPE html>
<html>
<head>
    {% include 'layout/header.html' %}

</head>
<body>


<!-- ==== -->
<div class="container" style="padding-top: 5%;">
    <div class="row" style="margin-top: 3% ;">
      <div class="col-12 " >
        <table class="table table-bordered" id="mytable">
            <tbody id="bdy">
              <tr>
                <td style="text-align:center;"> {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col"> 
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>
</body>
</html>
