<!DOCTYPE html>
<html>
<head>
    {% include 'layout/header.html' %}
</head>
<body>
    {% include 'layout/navbar.html' %}
    {% include 'layout/sidebar.html' %}
<!-- <div class="content" style="margin-top: 3%; margin-right: 3%;">
    <
</div> -->

<div class="container" style="margin-top: 3%; margin-left:15% ;">
    <div class="row">
      <div class="col-lg">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Selamat Datang</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>

    </div>
</div>

</body>
</html>
