<!DOCTYPE html>
<html>
<head>
    {% include 'layout/header.html' %}
</head>
<body>
    {% include 'layout/navbar.html' %}
    {% include 'layout/sidebar.html' %}

<!-- ----- -->

<div class="container" style="padding: 5% ;">
    <div class="row">
      <div class="col-9 table-wrapper-scroll-y my-custom-scrollbar">
     
        <table class="table table-bordered" id="mytable">
    
            <tbody id="bdy">
              <tr>
                <td style="text-align:center;"> {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
	
            <ul class="pagination"></ul>
          
      </div>


      </div>
      <div class="col-3">
       
        <table class="table table-bordered" ">
            <tbody>
              <tr>
                <td style="text-align:center;"> {% for dt in dts %}
                    {{ dt|safe }}
                    {% endfor %}</td>
              </tr>
            </tbody>
          </table>


      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Total Data : {{tot}}</p>
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        <form action="/select_column" >
            <input type="submit" value="Select Column and group" style="float: right ;" >
        </form>
      </div>
    </div>
  </div>
  

</body>
</html>

</html>
